.ingredients {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.disabled_item {
  pointer-events: none;
  opacity: 0.7;
}

.ingredients_box {
  display: flex;
  justify-content: space-around;
}

.ingredients_line {
  width: 996px;
  height: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  background-color: rgba(255, 255, 255, 0.1);
}

.text_ingredients {
  text-shadow: 0 3px 0 rgba(0, 0, 0, 0.75);
  color: #69829a;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 2px;
  width: 17em;
}

.more_ingredients {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.sale {
  display: flex;
  justify-content: space-evenly;
}

.sale_arm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sale_leg {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sale_gherkin {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sale_arm_button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-image: -webkit-linear-gradient(bottom, #da5151 0%, #cb2c2c 50%, #9d2222 100%);
  background-image: -o-linear-gradient(bottom, #da5151 0%, #cb2c2c 50%, #9d2222 100%);
  background-image: linear-gradient(to top, #da5151 0%, #cb2c2c 50%, #9d2222 100%);
  border-radius: 50px;
  border: none;
  padding: 10px 30px 10px 30px;
  text-shadow: 0 1px 1px rgba(1, 16, 2, 0.82);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
}

.sale_leg_button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-image: -webkit-linear-gradient(bottom, #da5151 0%, #cb2c2c 50%, #9d2222 100%);
  background-image: -o-linear-gradient(bottom, #da5151 0%, #cb2c2c 50%, #9d2222 100%);
  background-image: linear-gradient(to top, #da5151 0%, #cb2c2c 50%, #9d2222 100%);
  border-radius: 50px;
  border: none;
  padding: 10px 30px 10px 30px;
  text-shadow: 0 1px 1px rgba(1, 16, 2, 0.82);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
}

.sale_gherkin_button {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  background-image: -webkit-linear-gradient(bottom, #da5151 0%, #cb2c2c 50%, #9d2222 100%);
  background-image: -o-linear-gradient(bottom, #da5151 0%, #cb2c2c 50%, #9d2222 100%);
  background-image: linear-gradient(to top, #da5151 0%, #cb2c2c 50%, #9d2222 100%);
  border-radius: 50px;
  border: none;
  padding: 10px 30px 10px 30px;
  text-shadow: 0 1px 1px rgba(1, 16, 2, 0.82);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  cursor: pointer;
}

.sale_text {
  text-align: center;
  opacity: 0.33;
  text-shadow: 0 1px 1px rgba(1, 16, 2, 0.82);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.sale_arm_more {
  display: flex;
  flex-direction: column;
}

.sale_num {
  display: flex;
  justify-content: center;
}

.num_length {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 22px;
}

.no_have_item {
  color: #d74545;
  pointer-events: none;
  opacity: 0.7;
}

.sale_leg_more {
  display: flex;
  flex-direction: column;
}

.sale_gherkin_more {
  display: flex;
  flex-direction: column;
}

/*# sourceMappingURL=ingredients.css.map */
